## List Practice Test

In [7]:
#Q1 Create list of your name,age, field ,location using [] and list constructor
a = ['Parth', 21, 'Engineering', 'Thane']
print(a)
b = list(('Parth', 21, 'Engineering', 'Thane'))
print(b)

['Parth', 21, 'Engineering', 'Thane']
['Parth', 21, 'Engineering', 'Thane']

In [8]:
#Q2 Print only your field using index method
a = ['Parth', 21, 'Engineering', 'Thane']
print(a[2])

Engineering

In [10]:
#Q3 Print the position of location element
b = list(('Parth', 21, 'Engineering', 'Thane'))
b.index('Thane')

3

In [33]:
#Q4 Print element btw age and locaton ,using forward and backward indexing
a = ['Parth', 21, 'Engineering', 'Thane']
print(a[1:4:2])
print(a[-3:4:2])

[21, 'Thane']
[21, 'Thane']

In [35]:
#Q5 Replace the element of name with surname
a = ['Parth', 21, 'Engineering', 'Thane']
a[0] = 'Kharkar'
print(a)

['Kharkar', 21, 'Engineering', 'Thane']

In [36]:
#Q6 Replace the element of name ,age and field
a = ['Parth', 21, 'Engineering', 'Thane']
a[0] = 'Kharkar'
a[1] = 21.5
a[2] = 'Architecture'
print(a)

['Kharkar', 21.5, 'Architecture', 'Thane']

In [40]:
#Q7 Replace the element of name,age with only surname
a = ['Parth', 21, 'Engineering', 'Thane']
a[0] = 'Kharkar'
a[1] = 'Kharkar'
print(a)

['Kharkar', 'Kharkar', 'Engineering', 'Thane']

In [41]:
#Q8 Replace the element of name with your nickname and surname
a = ['Parth', 21, 'Engineering', 'Thane']
a[0] = 'PK Kharkar'
print(a)

['PK Kharkar', 21, 'Engineering', 'Thane']

In [43]:
#Q9 Add your surname in the list after your first name
b = list(('Parth', 21, 'Engineering', 'Thane'))
b.insert(1, 'Kharkar')
print(b)

['Parth', 'Kharkar', 21, 'Engineering', 'Thane']

In [45]:
#Q10 Add your only one hobby at the end of the list
b = list(('Parth', 21, 'Engineering', 'Thane'))
b.append('Cricket')
print(b)

['Parth', 21, 'Engineering', 'Thane', 'Cricket']

In [48]:
#Q11 Add your n-numbers of hobbies at the end of list
b = list(('Parth', 21, 'Engineering', 'Thane'))
b.extend(['Cricket','Swimming','Badminton'])
print(b)

['Parth', 21, 'Engineering', 'Thane', 'Cricket', 'Swimming', 'Badminton']

In [49]:
#Q12 Remove your location from list
b = list(('Parth', 21, 'Engineering', 'Thane'))
b.remove('Thane')
print(b)

['Parth', 21, 'Engineering']

In [50]:
#Q13 Remove your age from list[using 2 methods]
b = list(('Parth', 21, 'Engineering', 'Thane'))
b.remove(21)
print(b)
a = ['Parth', 21, 'Engineering', 'Thane']
a.pop(1)
print(a)

['Parth', 'Engineering', 'Thane']
['Parth', 'Engineering', 'Thane']

In [51]:
#Q14 Remove last element from the list
a = ['Parth', 21, 'Engineering', 'Thane']
a.pop()
print(a)

['Parth', 21, 'Engineering']

In [52]:
#Q15 Remove all element from the list(empty)
a = ['Parth', 21, 'Engineering', 'Thane']
a.clear()
print(a)

[]

In [54]:
#Q16 Delete the list
a = ['Parth', 21, 'Engineering', 'Thane']
del a
print(a)

NameError: name 'a' is not defined

In [55]:
#Q17 Create a list of prime numbers till 20 and find the length of it
a = [2,3,5,7,11,13,17,19]
len(a)

8

In [60]:
#Q18 Create a list of 5,2,18,7,12 and print in ascending and descending order
a = [5,2,18,7,12]
a.sort()
print(a)
a.reverse()
print(a)

[2, 5, 7, 12, 18]
[18, 12, 7, 5, 2]

In [62]:
#Q19 Merge two list
a = ['Hello','Hi','Hey']
b = [1,2,3,4]
a.extend(b)
print(a)

['Hello', 'Hi', 'Hey', 1, 2, 3, 4]

In [65]:
#Q20 Make a deep copy of list and check whether it is copying deeply or not
m = [1,44,89]
z = m
#Printing the new list
print(z)
#By making changes in the original list we can see that they have been reflected in the new list as well
m.append(100)
print(m)
print(z)

[1, 44, 89]
[1, 44, 89, 100]
[1, 44, 89, 100]

In [67]:
#Q21 Make a copy of list in that way  making changes in one list will not affect to the another list
a = ['six','seven','eight']
b = a.copy()
print(b)
#Now even if I make changes in 'a' variable the changes wont affect the 'b' variable
a.append('five')
print(a)
print(b)

['six', 'seven', 'eight']
['six', 'seven', 'eight', 'five']
['six', 'seven', 'eight']

In [69]:
#Q22 Take any example to  explain stack and queue
#Stack Example:
a = ['India','UK','USA']
a.append('Canada')
print(a)
a.pop()
print(a)

#Queue Example
b = ['India','UK','USA']
b.append('Canada')
print(b)
b.pop(0)
print(b)

['India', 'UK', 'USA', 'Canada']
['India', 'UK', 'USA']
['India', 'UK', 'USA', 'Canada']
['UK', 'USA', 'Canada']

In [73]:
#Q23 Zip four list contain with natural number your name,age, roll no
a = ['Parth']
b = [21]
c = [37]
#While using zip we need to take a new variable to store the zip contents and then convert it into a list'
d = zip(a,b,c)
d = list(d)
print(d)

[('Parth', 21, 37)]

In [74]:
#Q24 Unzip the above list
a, b, c = zip(*d)
print(a)
print(b)
print(c)

('Parth',)
(21,)
(37,)