## OPERATORS

### Arithmetic Operator

In [2]:
#Addition
x = 10.6
y = 50
print(x+y)

60.6

In [4]:
#Subtraction
x = 50
y = 100
print(x-y)

-50

In [5]:
#Multiplication
x = 19
y = 77
print(x*y)

1463

In [6]:
#Division
x = 52
y = 4
print(x/y)

13.0

In [7]:
#Floor Division (It returns the quotient (the result of division) in which the digits after the decimal are not printed)
x = 7.99
y = 2
#Normal Division
print(x/y)
#Floor Division - For floor division you need to use '//'
print(x//y)

3.995
3.0

In [8]:
#Modulus - gives us the remainder of the division
#For Modulus you need to use '%'
x = 77 
y = 6 
print(x%y)

5

In [9]:
#Exponent - power of a number
num = 5
#While using exponent you need to write in this way 'num**2'
#Here I am writing 2 as I need the square of the number
print(num**2)

25

### Relational Operator

In [14]:
x = 69
y = 778
print(x>y)
print(x == y)
print(x == 69)

False
False
True

In [16]:
print(x != y)
print(69 != y)

True
True

In [17]:
print(x >= y)
print(69 >= x)

False
True

### Assignment Operator

In [21]:
m = 10
n = 22
n += m
print(n)

32

In [22]:
x = 40
x -= 5
print(x)

35

In [23]:
z = 3
z *= 2
print(z)

6

In [24]:
y = 6
y /= 2
print(y)

3.0

In [26]:
w = 7
w **=2
print(w)

49

In [28]:
e = 60
e %= 7
print(e)

4

In [29]:
g = 6
g //=3
print(g)

2

### Logical Operator

In [32]:
X = 10
print(x > 5 and x > 9.9)

True

In [33]:
#In the case of arithmetic values, 'Logical and' always returns the second value
print(10 and 40)
print(20 and 25)
print(44 and 45)

40
25
45

In [34]:
x = 5.63

print(x>5.6 and x<5.7)

True

In [36]:
#In the case of arithmetic values, 'Logical or' always returns the first value
print(66 or 33)
print(12 or 14)
print(66 or 44)

66
12
66

In [37]:
x = 6 
print(not(x < -4))

True

In [39]:
#In the case of arithmetic values, 'Logical not' always return False for nonzero value
print(not 100)

False

### Membership Operator

In [44]:
X = ["seven","eight"]
print("nine" in x)

False

In [47]:
y = ["apple","banana"]
print("mango" not in x)

True

### Identity Operator

In [53]:
# This operator returns boolean True or False
a = 12
b = 45
c = 12
#It compares the memory address a, b and c as compared in the print statement
print(a is b)
print(a is c)

False
True

In [54]:
p = 11
q = 11
r = 77
print(p is not q)
print(q is not r)

False
True

### Bitwise Operator

In [55]:
#AND 
a = 5 
b = 8
c = 9
print (a & b)
print (b & c)
print (a & c)

0
8
1

In [57]:
#OR
m = 10
n = 25
z = 9
print (m or n)
print (n or z)
print (z or m)

10
25
9

In [58]:
#XOR
f = 3 
k = 4
g = 2
print (f ^ k)
print (g ^ k)

7
6